[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mikemoreton
[access "refs/for/refs/*"]
	read = group user/mikemoreton
	push = group user/mikemoreton
	label-Code-Review = -2..+2 group user/mikemoreton
	label-Verified = -1..+1 group user/mikemoreton
	rebase = group user/mikemoreton
	removeReviewer = group user/mikemoreton
	submit = group user/mikemoreton
[access "refs/heads/*"]
	read = group user/mikemoreton
	create = group user/mikemoreton
	push = +force group user/mikemoreton
	pushMerge = group user/mikemoreton
[access "refs/tags/*"]
	push = +force group user/mikemoreton
	pushTag = group user/mikemoreton
	pushSignedTag = group user/mikemoreton
